<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Categoria</title>
  <link href="https://fonts.googleapis.com/css2?family=monoton&display=swap" rel="stylesheet">
  <link href="/styles/categorias.css" rel="stylesheet" />
</head>

<body>
  <header class="navbar">
    <div class="header-container">
      <h1>Dashboard do Administrador</h1>
      <p class="admin-nome">Bem-vindo, <%= admNome %></p>
      <nav class="menu-centralizado">
        <ul>
          <li><a href="/admin/dashboard">Usuários</a></li>
          <li><a href="/admin/categorias">Categorias</a></li>
          <li><a href="/admin/fotos">Fotos</a></li>
        </ul>
      </nav>
    </div>
  </header>