<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<div class="footer-divider"></div>

<footer class="footer">
  <div class="footer-content">
    <h4>Contate-nos</h4>
    <div class="social-icons">
      <div><i class="fab fa-instagram"></i> @photosphere</div>
      <div><i class="fab fa-twitter"></i> @photosphere</div>
      <div><i class="fab fa-linkedin-in"></i> @photosphere</div>
      <div><i class="fas fa-phone-alt"></i> +1 55 93222-4444</div>
      <div><i class="fab fa-youtube"></i> Photosphere</div>
    </div>
  </div>
</footer>