<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
          <form>
              <h1>Crie sua conta</h1>
              <div class="social-icons">
                  <div class="underline">
                      <span>Já tem conta? Faça o login!</span>
                  </div>
              </div>
              <div class="input-group">
                  <i class="fa-solid fa-user"></i>
                  <input type="text" placeholder="Nome">
              </div>
              <div class="input-group">
                  <i class="fa-solid fa-envelope"></i>
                  <input type="email" placeholder="Email">
              </div>
              <div class="input-group">
                  <i class="fa-solid fa-lock"></i>
                  <input type="password" placeholder="Senha">
              </div>
              <div class="input-group">
                  <i class="fa-solid fa-lock"></i>
                  <input type="password" placeholder="Confirmar senha">
              </div>
              <button>Cadastrar-se</button>
          </form>
      </div>
      <div class="form-container sign-in">
          <form>
              <h1>ENTRAR</h1>
              <div class="underline">
                  <span>Ainda não tem uma conta? Cadastre-se agora!</span>
              </div>
              <div class="input-group">
                  <i class="fa-solid fa-envelope"></i>
                  <input type="email" placeholder="Email">
              </div>
              <div class="input-group">
                  <i class="fa-solid fa-lock"></i>
                  <input type="password" placeholder="Senha">
              </div>
              <button>Entrar</button>
          </form>
      </div>
      <div class="toggle-container">
          <div class="toggle">
              <div class="toggle-panel toggle-left">
                  <h1>Bem-vindo de volta</h1>
                  <p>Insira seus dados pessoais para usar todos os recursos do site</p>
                  <button class="hidden" id="login">Entrar</button>
              </div>
              <div class="toggle-panel toggle-right">
                  <h1>Seu mundo, <br>suas fotos!</h1>
                  <button class="hidden" id="register">Cadastrar-se</button>
              </div>
          </div>
      </div>
   </div>
   <script src="/javascripts/login.js"></script>
  </body>
</html>
  